@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

// định nghĩa màu
:root {
    --red: #ff3838;
    --bwr: #912a31;
    --matcha: #2c5a30;
    --line-color: #d9d9d9;
}

*::selection {
    background: var(--bwr);
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: #f7f7f7;
}

// css đổi menu 
header.doimenu {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.932);
    z-index: 5;
    animation: navani forwards 1s;
    width: 90%;
    border-radius: 10px;
    padding: 2rem 10%;
    left: 5%;
}

@keyframes navani {
    0% {
        top: -20%;
    }

    100% {
        top: 1%;
    }
}

//css head form login,register,...
.head {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    background: #fff;
    padding: 2rem 15%;
    box-shadow: 0 .5rem 1rem rgba(29, 28, 28, 0.1);
    justify-content: space-between;

    .logo {
        font-size: 3rem;
        font-weight: bolder;
        color: var(--bwr);
        text-decoration: none;
        text-shadow: 0 0 .1rem rgb(77, 11, 11);

        i {
            padding-right: .3rem;
        }
    }

    span {
        font-size: 2.3rem;
        font-weight: 700;
    }
}

// css header nav

header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    background: #fff;
    padding: 2rem 15%;
    box-shadow: 0 .5rem 1rem rgba(29, 28, 28, 0.1);
    justify-content: space-between;

    span {
        font-size: 2.5rem;
    }

    .logo {
        font-size: 3rem;
        font-weight: bolder;
        color: var(--bwr);
        text-decoration: none;
        text-shadow: 0 0 .1rem rgb(77, 11, 11);

        i {
            padding-right: .3rem;
        }
    }

    .nav-bar {
        a {
            font-size: 2rem;
            margin-left: 2rem;
            color: rgb(61, 61, 61);
            text-decoration: none;
            font-weight: bolder;
            position: relative;

            &:hover {
                color: var(--bwr);
            }

            &::after {
                content: "";
                position: absolute;
                bottom: -3px;
                left: 0;
                width: 0%;
                height: 2px;
                background-color: var(--bwr);
                transition: 0.5s;
            }

            &:hover::after {
                width: 100%;
            }
        }

    }

    .chucnang {

        i {
            font-size: 2rem;
            margin-left: 2rem;
            color: rgb(32, 32, 32);
            text-decoration: none;
        }

        .tipdn {
            position: relative;

            &:hover {
                .tipdangnhap {
                    visibility: visible;
                    transform: 1s;
                    opacity: 1;
                }
            }

            .tipdangnhap {
                position: absolute;
                color: rgb(219, 219, 219);
                width: 10rem;
                height: 2.5rem;
                text-align: center;
                background-color: black;
                z-index: 10;
                top: 30px;
                left: auto;
                right: -4rem;
                border-radius: 5px;
                visibility: hidden;
                opacity: 0;
                span{
                    font-size: 1.5rem;
                    font-weight: 500;
                }

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 100%;
                    left: 50%;
                    margin-left: -5px;
                    border-width: 5px;
                    border-style: solid;
                    border-color: transparent transparent black transparent;
                }
            }
        }
        .tipcart {
            position: relative;

            &:hover {
                .tipcarttext {
                    visibility: visible;
                    transform: 1s;
                    opacity: 1;
                }
            }

            .tipcarttext {
                position: absolute;
                color: rgb(219, 219, 219);
                width: 10rem;
                height: 2.5rem;
                text-align: center;
                background-color: black;
                z-index: 10;
                top: 30px;
                left: auto;
                right: -4rem;
                border-radius: 5px;
                visibility: hidden;
                opacity: 0;
                span{
                    font-size: 1.5rem;
                    font-weight: 500;
                }

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 100%;
                    left: 50%;
                    margin-left: -5px;
                    border-width: 5px;
                    border-style: solid;
                    border-color: transparent transparent black transparent;
                }
            }
        }

        .search {
            cursor: pointer;
            position: relative;

            &:hover {
                .searchbox {
                    visibility: visible;
                    transition: 0.3s;
                    top: 15px;
                    left: auto;
                    right: -5.7rem;
                    opacity: 1;

                }
            }

            .searchbox {
                position: absolute;
                width: 25rem;
                height: 6rem;
                background-color: rgba(255, 255, 255, 0.952);
                z-index: 10;
                top: 50px;
                left: auto;
                right: -5.7rem;
                border-radius: 5px;
                box-shadow: 0 0 5px 1px rgba(65, 64, 64, 0.781);
                // box-shadow: 1px 1px 15px rgb(0 0 0 / 15%);
                visibility: hidden;
                opacity: 0;
                transition: 0s;
                margin: 2rem 1rem;


                &::before {
                    content: "";
                    width: 0;
                    height: 0;
                    border: 10px solid transparent;
                    border-bottom-color: rgba(255, 255, 255, 0.952);
                    position: absolute;
                    left: 72%;
                    top: -20px;
                }

                .searchtext {
                    width: 21rem;
                    height: 3rem;
                    font-size: 1.4rem;
                    margin-top: 1.5rem;
                    margin-left: 2.2rem;
                    border: 1px solid rgba(0, 0, 0, 0.336);
                    border-radius: 15px;
                    padding-left: .5rem;
                }

                .searchicon {
                    position: absolute;
                    top: 33%;
                    left: 73%;
                    opacity: 0.6;
                    color: black;
                    cursor: pointer;

                }
            }

        }
    }

}

#menu-bar {
    font-size: 3rem;
    cursor: pointer;
    color: #666;
    border: .1rem solid #666;
    border-radius: .3rem;
    padding: .5rem 1.5rem;
    display: none;
}

//tiêu đề
.heading {
    text-align: center;
    font-size: 2rem;
    padding: 3rem;
    color: #666;
    text-transform: uppercase;
    font-weight: 1000;

    span {
        color: var(--bwr);
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 1000;

        &::after {
            content: "";
            display: table;
            clear: both;
            background: url(./img/line.png);
            width: 100%;
            height: 20px;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: bottom;
            padding-top: 0;
        }
    }
}

//css sản phẩm hot - best seller
.sanpham-hot {
    padding-bottom: 5rem;
    // background-color: #262626;
    // background-image: url(./img/bg-ctas.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    .box-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;

        .box {
            height: 25rem;
            flex: 1 1 36rem;
            border: 1rem solid #fff;
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
            border-radius: .3rem;
            position: relative;
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition: 1s;

            }

            .content {
                position: absolute;
                // top: -100%;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.445);
                padding: 2rem;
                padding-top: 3.5rem;
                text-align: center;
                opacity: 0;
                font-weight: 800;
                transition: 2s;

                h3 {
                    font-size: 2.5rem;
                    color: rgb(255, 255, 255);
                }

                p {
                    font-size: 1.5rem;
                    color: rgb(241, 241, 241);
                    padding: 1rem 0;
                }
            }

            &:hover .content {
                top: 0;
                opacity: 1;
                transition: 1s;
            }

            &:hover img {
                transform: scale(1.2);
                transition: 1s;
            }

        }
    }
}

// css btn 
.btn {
    display: inline-block;
    padding: .8rem 3rem;
    border: .2rem solid var(--red);
    color: var(--red);
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 0%;
        height: 100%;
        background: var(--red);
        transition: .3s linear;
        z-index: -1;
    }

    &:hover::before {
        width: 100%;
        left: 0;
    }

    &:hover {
        color: white;
    }
}

// css phần news
.news {
    background-color: rgb(240, 239, 239);
    padding-bottom: 5rem;
    background-image: url(./img/bg-moutain.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;

    .box-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        padding: 1rem 0;

        .box {
            padding: 2rem 1rem;
            background: #fff;
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
            border: .1rem solid rgba(0, 0, 0, .3);
            border-radius: .5rem;
            text-align: center;
            flex: 1 1 30rem;
            position: relative;

            .img2 {
                float: right;
            }

            img {
                height: 25rem;
                object-fit: cover;
                width: 40rem;
                border-radius: .5rem;
                float: left;
                padding: 0 1rem;
            }

            a {
                font-size: 2.5rem;
                color: #333;
                padding: 3rem 0;
                font-weight: 800;
                text-decoration: none;

                &:hover {
                    color: var(--bwr);
                }
            }

            p {
                font-size: 1.5rem;
                color: #333;
                padding: 1rem 2rem;
                font-weight: 600;
            }
        }
    }
}

// css phần sản phầm bàn phím
.sanpham {
    padding-bottom: 5rem;

    .multiple-items {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;

        .box {
            padding: 2rem;
            background: #fff;
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
            border: .1rem solid rgba(0, 0, 0, .3);
            border-radius: .5rem;
            text-align: center;
            flex: 1 1 25rem;
            margin-right: .5rem;
            cursor: pointer;

            .image-main {
                display: flex;
            }

            .image-minor {
                display: none;
            }

            &:hover {
                .image-main {
                    display: none;
                }

                .image-minor {
                    display: flex;
                }
            }

            img {
                height: 25rem;
                object-fit: cover;
                width: 100%;
                border-radius: .5rem;
            }

            .title-wrapper {
                overflow: hidden;
                width: 100%;
                height: 10rem;

                a {
                    color: #333;
                    font-size: 1.5rem;
                    padding-top: 1rem;
                    text-decoration: none;
                    font-weight: 600;


                }
            }

            .price-wrapper {
                span {
                    padding-top: .5rem;
                    color: var(--red);
                    font-size: 1.5rem;
                    font-weight: 800;
                }
            }
        }

        //css slick
        .slick-prev,
        .slick-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            border: 1px solid black;
            color: #333;
            border-radius: 50%;
            z-index: 2;
            font-size: 2rem;
            padding: .5rem 1.5rem;
            opacity: 0.2;
            transition: 1s;
            background-color: white;

            &:hover {
                color: var(--bwr);
                border: 1px solid var(--bwr);
            }
        }

        .slick-next {
            right: 0;
        }

        .slick-prev {
            left: 0;
        }

        &:hover {

            .slick-prev,
            .slick-next {
                opacity: 1;
                transition: 1s;
            }
        }
    }
}

//banner
.banner {
    padding-bottom: 5rem;
    background-image: url(./img/bg-ctas.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;


    .box-container {
        height: 20rem;
        margin: 1rem 0;
        cursor: pointer;

        .box-img {
            width: 100%;
            height: 100%;
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition: 1s;
            }

            &:hover {
                img {
                    transform: scale(1.2);
                }
            }
        }

    }
}


//footer
footer {
    .address {
        width: 100%;
        height: 20rem;
        background: url(./img/bg-footer.jpg);
        align-items: center;
    }

    .name {
        width: 100%;
        height: 5rem;
        background-color: #333;
        color: rgba(255, 255, 255, .5);
        text-align: center;
        top: 50%;
        left: 50%;
        font-size: 1.7rem;
        font-weight: 600;
        padding-top: 1rem;

        span {
            font-weight: 900;
        }
    }
}

// nút top 
#scroll-top {
    position: fixed;
    top: 101%;
    right: 2rem;
    padding: .5rem 1.2rem;
    font-size: 4rem;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    transition: .5s linear;
    z-index: 1000;
    text-decoration: none;
    opacity: 0;
    border: .1rem solid black;

    &:hover {
        border: .1rem solid var(--bwr);
        color: var(--bwr);
    }
}

#scroll-top.active {
    top: calc(100% - 12rem);
    opacity: 1;
}

//form login
.login {
    background-color: var(--matcha);
    background-image: url(./img/bg-ctas.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    .box-container {
        width: 100%;
        height: 80rem;
        position: relative;
        // background-image: url(./img/bg-login2.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        

        .form-login {
            position: absolute;
            width: 40rem;
            height: 38rem;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;
            background-color: white;
            padding: 5rem;
            box-sizing: unset;
            box-shadow: 0 0 10px rgb(78, 78, 78);
            border-radius: 10px;
            text-align: center;

            table {
                width: 100%;
            }

            h1 {
                margin: 2rem 0;
                font-weight: 900;
                font-size: 3rem;
                // padding-bottom: 1rem;
            }

            .txt {
                margin: 1.5rem 0;
                width: 100%;
                border: 1px solid var(--line-color);
                // border-bottom: 1px solid #ccc;
                text-align: left;
                font-size: 1.7rem;
                padding: .8rem 1.5rem;
                border-radius: 3px;
                &:hover{
                    border: 1px solid var(--bwr);
                    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .1);

                }
            }

            .r-me {
                // text-align: left;
                float: left;
                margin: 1rem 0;
                font-size: 1.5rem;
            }

            .lost-pass {
                float: right;
                color: black;
                margin: 1rem 0;
                font-size: 1.5rem;
                text-decoration: none;

                &:hover {
                    color: var(--bwr);
                }
            }

            .btn-login {
                width: 100%;
                height: auto;
                padding: 1rem .0;
                margin: .5rem 0;
                background-color: black;
                color: white;
                text-transform: uppercase;
                font-size: 1.5rem;
                font-weight: bold;
                border: none;
                border-radius: 5px;

                &:hover {
                    background-color: var(--bwr);
                }
            }

            p {
                font-size: 1.5rem;
                margin: 1.5rem 0;
            }

            .btn-register {
                color: black;
                font-weight: 700;
                text-decoration: none;

                &:hover {
                    color: var(--bwr);
                }
            }
        }
    }
}

//form register 

.register{
    // background-color: var(--bwr);
    background-color: var(--matcha);
    background-image: url(./img/bg-ctas.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    .box-container {
        width: 100%;
        height: 80rem;
        position: relative;
        // background-image: url(./img/bg-login2.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        

        .form-register {
            position: absolute;
            width: 40rem;
            height: 60rem;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;
            background-color: white;
            padding: 5rem;
            box-sizing: unset;
            box-shadow: 0 0 10px rgb(78, 78, 78);
            border-radius: 10px;
            text-align: center;

            table {
                width: 100%;
            }

            h1 {
                margin: 2rem 0;
                font-weight: 900;
                font-size: 3rem;
                // padding-bottom: 1rem;
            }

            .txt {
                margin: 1.5rem 0;
                width: 100%;
                border: 1px solid var(--line-color);
                // border-bottom: 1px solid #ccc;
                text-align: left;
                font-size: 1.7rem;
                padding: .8rem 1.5rem;
                border-radius: 3px;
                &:hover{
                    border: 1px solid var(--bwr);
                    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .1);

                }
            }

          

            .btn-submit {
                width: 100%;
                height: auto;
                padding: 1rem .0;
                margin: .5rem 0;
                background-color: black;
                color: white;
                text-transform: uppercase;
                font-size: 1.5rem;
                font-weight: bold;
                border: none;
                border-radius: 5px;

                &:hover {
                    background-color: var(--bwr);
                }
            }

            p {
                font-size: 1.5rem;
                margin: 1.5rem 0;
            }

            .btn-re-login {
                color: black;
                font-weight: 700;
                text-decoration: none;

                &:hover {
                    color: var(--bwr);
                }
            }
        }
    }
}

//reponsive
@media(max-width:1320px) {

    html {
        font-size: 60%;
    }

    header {
        padding: 2rem;
    }

    header.doimenu {
        padding: 2rem;
    }
}

@media(max-width:991px) {

    html {
        font-size: 50%;
    }

    section {
        padding: 2rem;
    }

    header.doimenu {
        padding: 2rem;
    }

    .news .news-p {
        display: none;
    }

    
}

@media(max-width:792px) {
    #menu-bar {
        display: initial;
    }

    header {
        .nav-bar {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background: #f7f7f7;
            border-top: .1rem solid rgba(0, 0, 0, .1);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

            a {
                margin: 1.5rem;
                padding: 1.5rem;
                display: block;
                border: .2rem solid rgba(0, 0, 0, .1);
                border-left: .5rem solid var(--bwr);
                background: #fff;
            }
        }

        .nav-bar.active {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }

        .chucnang {
            // display: none;
            position: absolute;
            top: 670%;
            left: 0;
            right: 0;
            background: #f7f7f7;
            border-top: .1rem solid rgba(0, 0, 0, .1);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

            .rps-btn {
                margin: 1.5rem;
                padding: 1.5rem;
                display: block;
                border: .2rem solid rgba(0, 0, 0, .1);
                border-left: .5rem solid var(--bwr);
                background: #fff;
                text-align: center;
            }

            a {
                text-decoration: none;
                width: 49%;
                height: 6rem;
                display: inline-block;

            }

            .tipdn{
                .tipdangnhap{
                    display: none;
                }
            }

            .tipcart{
                .tipcarttext{
                    display: none;
                }
            }
            .search {
                cursor: unset;
                position: unset;
                visibility: hidden;

                &:hover {
                    .searchbox {
                        visibility: visible;
                        top: 0;
                        left: 0;
                        right: 0;
                        opacity: 1;

                    }
                }

                .searchbox {
                    position: unset;
                    width: 100%;
                    height: 6rem;
                    background: #f7f7f7;
                    z-index: 10;
                    top: 0;
                    left: 0;
                    right: 0;
                    border-radius: 0;
                    box-shadow: 0 0 0 0 rgba(65, 64, 64, 0.781);
                    visibility: visible;
                    opacity: 1;
                    transition: 0s;
                    margin: 0 0;


                    &::before {
                        content: "";
                        display: none;
                    }

                    .searchtext {
                        width: 30rem;
                        height: 5rem;
                        font-size: 1.8rem;
                        margin-top: 0;
                        margin-left: 0;
                        padding-left: 1rem;
                    }

                    .searchicon {
                        position: unset;
                        padding: 1.4rem;
                        border-radius: 15px;
                        opacity: 1;
                        border: 1px solid rgba(0, 0, 0, 0.336);

                        &:hover {
                            background-color: var(--bwr);
                            color: white;
                        }
                    }
                }

            }

        }

        .chucnang.active {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }
    }

    .news {
        .box-container {
            .box {
                img {
                    float: none;
                    width: 100%;
                }
            }
        }
    }

   

}

@media(max-width:450px) {

    html {
        font-size: 50%;
    }

    header {
        .chucnang {
            .search {
                .searchbox {
                    .searchtext {
                        width: 25rem;
                    }
                }
            }
        }
    }

 
}